* {
    box-sizing: border-box;
}

.title{
    text-align: center;
    padding: 12px 0;
    margin: 0 30px;
    border-bottom: 3px solid #02a50d;
  }
  .panel{
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 50px;
    max-width: 100%;
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-position: center; /* Centra la imagen en el contenedor */
    position: sticky;
    
  }
  .fila{
    margin: 20px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap:20px;
  }

  .opcion{
    padding:60px 5px !important;
    cursor: pointer;
  }
  .opcion:hover{
    background-color: #f0f0f0;
  }
  .texto{
    color: #02a50d;
    text-align: center;
  }